In [5]:
from sqlalchemy import create_engine, inspect
from dotenv import load_dotenv, find_dotenv
import os
import pandas as pd
from pathlib import Path  
from getpass import getpass
import numpy as np
import random

In [6]:
load_dotenv(find_dotenv());
user = os.getenv("MYSQL_USER")
password = os.getenv("MYSQL_PWD")

In [7]:
database = 'Primor'
mysql_url = f'mysql://{user}:{password}@localhost/{database}'
engine = create_engine(mysql_url)

In [8]:
conn = engine.connect()

In [9]:
conn.execute("SHOW DATABASES;")

In [10]:
list(conn.execute("SHOW DATABASES;"))

[('Apps',),
 ('employees',),
 ('information_schema',),
 ('lab_mysql',),
 ('mifarma',),
 ('mysql',),
 ('performance_schema',),
 ('Primor',),
 ('prueba',),
 ('publications',),
 ('school',),
 ('sys',)]

In [11]:
inspector = inspect(engine)
for table_name in inspector.get_table_names():
    print(f'Table: {table_name}')
    for column in inspector.get_columns(table_name):
        print("    Column: %s" % column['name'])

Table: Dermocosmética
    Column: Producto_id
    Column: Marca
    Column: Nombre
    Column: Precio

In [12]:
#from flask import Flask
#from flask_sqlalchemy import SQLAlchemy
#import requests

### Pruebas

#### Conseguir una lista con todas las marcas y que no se repitan

In [18]:
query = SELECT * FROM Dermocosmética WHERE Marca ORDER BY Precio DESC;

SyntaxError: invalid syntax (<ipython-input-18-1bb62328e8fd>, line 1)

In [20]:
marca = "Sesderma"
query = f"SELECT * FROM Dermocosmética WHERE Marca='{marca}';"
res = conn.execute(query)
data = pd.DataFrame(res, columns=[field['name'] for field in inspector.get_columns('Dermocosmética')])

In [21]:
data

    Producto_id     Marca                                      Nombre   Precio
0             1  Sesderma            Serenity Bruma Rostro y Almohada  21,50 €
1             2  Sesderma           Serenity Sérum Liposomal Noche...  34,99 €
2             3  Sesderma      Serenity Mascarilla Facial Nocturna...  25,99 €
3             4  Sesderma  Serenity Crema de Noche Antienvejecimiento  29,99 €
4            18  Sesderma            Oceanskin Crema Facial Nutritiva  28,75 €
5            22  Sesderma                   Juveneses Sebum Regulador  28,75 €
6            23  Sesderma                   Hidraloe Contorno de Ojos  13,99 €
7            60  Sesderma       Sesgen 32 Crema Gel Activador Celular  45,99 €
8            99  Sesderma        Sesretinal Young Gel Hidratante Plus  45,99 €
9           100  Sesderma   Crema Hidratante Acglicolic Classic SPF15  36,99 €
10          128  Sesderma       Glicare Gel Contorno de Ojos Y Labios  19,99 €
11          129  Sesderma                      Daeses Liposomal Serum  36,99 €
12          132  Sesderma         Daeses Crema Gel Reafirmante Facial  36,99 €
13          133  Sesderma              C-vit Radiance Fluido Luminoso  29,99 €
14          134  Sesderma                       C-vit Liposomal Serum  29,99 €
15          135  Sesderma               C-Vit Crema Facial Hidratante  29,99 €
16          136  Sesderma                Acglicolic 20 Gel Hidratante  36,99 €
17          137  Sesderma          Acglicolic 20 Crema Gel Hidratante  38,90 €

In [23]:
marca = "Sesderma"
precio = 20
query = f"SELECT * FROM Dermocosmética WHERE Marca='{marca}' AND Precio <{precio};"
res = conn.execute(query)
data = pd.DataFrame(res, columns=[field['name'] for field in inspector.get_columns('Dermocosmética')])

In [24]:
data

   Producto_id     Marca                                 Nombre   Precio
0           23  Sesderma              Hidraloe Contorno de Ojos  13,99 €
1          128  Sesderma  Glicare Gel Contorno de Ojos Y Labios  19,99 €